* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://miro.medium.com/v2/resize:fit:720/format:webp/1*bMgQ8MhbnQexpqHgIgBJPA.png");
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: kenburns-top 5s ease-out infinite both;
}

nav {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: #1a1a1a;
  position: absolute;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 5px black;
  animation: kenburns-top 5s ease-out infinite both;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 160%;
  }
  50% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
  100% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
}
